
/***********************************************************************************************
/***********************************************************************************************

                    Main page

/***********************************************************************************************
/***********************************************************************************************/

//Side Menu

.ad-image {
  height: 80px;
  width: auto;
}


/***********************************************************************************************
/***********************************************************************************************

                    Layout

/***********************************************************************************************
/***********************************************************************************************/

// footer

.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-nav ul li{
  float: left;
}

.footer-nav a{
  display: block;
  width: 100px;
}

.footer-nav a:hover {
  cursor:pointer
}

.spacing {
  text-align: center;
}

