
#tooltip_container {
  color: #ffffff;
  position: absolute;
  padding: 20px;
  max-width: 200px;
  background-color: rgba(0, 0 , 0, .85);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-right: 12px;

}

.tooltip-source-html {
  display: none;
}